<!-- display post link -->
<h3>
  <a href="{{ .Params.realURL }}">{{ .LinkTitle }}</a>
</h3>

<section class="e-content">
  {{ .Content }}
</section>

<div class="meta">
  <!-- only show tag stuff if link is tagged -->
  {{ with .GetTerms "tags" }}
    <div>
      {{ range . }}
        <a class="tag p-category" href="{{ .RelPermalink }}"
          >{{ .LinkTitle }}</a
        >
      {{ end }}
    </div>
  {{ end }}


  <!-- display canonical time -->
  <div>
    Posted at
    <time
      class="dt-published"
      datetime="{{ .Date.Format "2006-01-02 15:04:05" }}"
      >{{ .Date.Format "Jan 02, 2006 @ 03:04 PM" }}</time
    >
    by
    <a class="p-author h-card" href="{{ .Site.BaseURL }}"
      >{{ .Site.Params.author.name }}</a
    >
  </div>

  <!-- display permalink -->
  <div>
    <a class="u-url" href="{{ .RelPermalink }}">Permalink</a>
  </div>
</div>
